<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TRMS_Alex_Raymond_Alex</display-name>
  <servlet>
    <servlet-name>ReimbursementForm</servlet-name>
    <servlet-class>com.TRMS_ARA.servlet.ReimbursementFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementForm</servlet-name>
    <url-pattern>/reimbursementform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRequests</display-name>
    <servlet-name>GetRequests</servlet-name>
    <servlet-class>com.TRMS_ARA.servlet.GetRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRequests</servlet-name>
    <url-pattern>/GetRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRFDetails</display-name>
    <servlet-name>ViewRFDetails</servlet-name>
    <servlet-class>com.TRMS_ARA.servlet.ViewRFDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRFDetails</servlet-name>
    <url-pattern>/ViewRFDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveServlet</display-name>
    <servlet-name>ApproveServlet</servlet-name>
    <servlet-class>com.TRMS_ARA.servlet.ApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveServlet</servlet-name>
    <url-pattern>/ApproveServlet</url-pattern>
  </servlet-mapping>
</web-app>